.Appbar {
    text-align: center;
}

.iconNotification {
    margin: 20px 40px 0px 0px;
    cursor: pointer;
}

.iconSettings {
    margin: 20px 20px 0px 0px;
    cursor: pointer;
}

.iconMessage {
    margin: 20px 30px 0px 0px;
    cursor: pointer;
}

.fab {
    width: 55px;
    height: 55px;
    background-color: navy;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;
  
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 55px;
  
    position: fixed;
    right: 10px;
    bottom: 30px;
 }
  
 .fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
    cursor: pointer;
 }